<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html lang="en"><head> <title> Linux Users of Norther Illinois - {%block pagetitle %}{% endblock %}</title>
</head>
<body>

    <div id="nav">
        <div id="header">
	        <h1> Linux Users of Northern Illinois (Chicago)  </h1><br/>
		     <a href="/">Home</a>  | <a href="/calendar/">Calendar</a>  | <a href="/orgs/"> Organizations </a> | <a href="/contactus/"> Contact Us </a>  
		<br/><hr>

        </div>
    </div>
    <div id="content">
            <div id="primary">
                <h1>{% block title %}{% endblock %}</h1>
                {% block primary %}{% endblock %}
            </div>
    </div>
    <div id="footer">

		<hr/>
        <link href="https://plus.google.com/117141677404718615863/" rel="publisher" />
		
		<!-- Place this tag where you want the badge to render-->
		<a href="https://plus.google.com/117141677404718615863/?prsrc=3" style="text-decoration: none;"><img src="https://ssl.gstatic.com/images/icons/gplus-32.png" width="32" height="32" style="border: 0;"/></a>

    </div>
    </body>
</html>
