{% extends "base.html" %}
{% block pagetitle%} Contact Us {% endblock %}

{% block primary %} 

		For general info please mail to <a href="mailto:info@luni.org">info@luni.org</a>
		<p>
		We have two active <b>mailing lists</b>:
		
		<ul>
		<blockquote>
		<!-- Begin LUNI -->
		<table border=0 style="padding: 5px;" cellspacing=0>
		  <tr><td style="padding-left: 5px">
		  <b>Subscribe to <a href="https://groups.google.com/group/luni-chicago/">Linux Users of Northern Illinois</a></b>
		  </td></tr>
		  <form action="http://groups.google.com/group/luni-chicago/boxsubscribe">
		  <input type=hidden name="hl" value="en">
		  <tr><td style="padding-left: 5px;">
		  Email: <input type=text name=email>
		  <input type=submit name="sub" value="Subscribe">
		  </td></tr>
		</form>
		</table>
		
		<!-- End LUNI -->
		
		<!-- LUNI Announce -->
		<p>
		<table border=0 style=" padding: 5px;" cellspacing=0>
		  <tr><td style="padding-left: 5px">
		  <b>Subscribe to <a href="https://groups.google.com/group/luni-announce-chicago">Linux Users of Northern Illinois announce list</a></b>
		  </td></tr>
		  <form action="http://groups.google.com/group/luni-announce-chicago/boxsubscribe">
		  <input type=hidden name="hl" value="en">
		  <tr><td style="padding-left: 5px;">
		  Email: <input type=text name=email>
		  <input type=submit name="sub" value="Subscribe">
		  </td></tr>
		</form>
		</table>
		<!-- End LUNI Announce -->
		
		<li> <a href="http://www.facebook.com/pages/Linux-Users-of-Northern-Illinois/142456219162668"> Facebook Page </a> </li>
		<li> <a href="http://www.twitter.com/luni_announce"> Twitter Feed </a> rebroadcasts content of facebookpage.</li>
		<li> <a href="http://www.linkedin.com/groups?gid=160786&mostPopular=&trk=tyah"> LinkedIn Group </a></li>
		<li><a href="https://plus.google.com/b/117141677404718615863/"> Google Plus Page </a></li>
		<li> <a href="http://embed.mibbit.com/?server=irc.freenode.org&channel=%23luni&noServerNotices=true&noServerMotd=true">web-based chat client</a> (irc.freenode.org #luni) 
		
		</blockquote>
		</ul>

		<hr/>
		<h3> Old Archives</h3>
		<ul>
		<li> <a href="http://luni.org/pipermail/luni/"> Luni Archives</a> </li>
		<li> <a href="http://luni.org/pipermail/luni-anounce/"> Luni Announcements Archives</a> </li>
		</ul>


{% endblock %} 
