@main(title = "Home") {

    <p>This is an organization that tries to embody the collection of Linux users and enthusiast of the
        <a href="http://en.wikipedia.org/wiki/Linux">Linux </a>
        operating system. Please join our mailing list if you
        have an interest, want to learn more of have questions that we can be of assistance with. If you're looking for
        an actual gather of people, please look under <a href="orgs/">
            Organizations </a> for info on local meetups.
    </p>
}