@main(title = "Organizations") {

    <div class="row">
        <div class="col-6 col-sm-6 col-lg-4">
            <h2>FLOSS Groups</h2>
            <ul>

                <li><a href="http://groups.google.com/group/chicagolinux-discuss">
                    Chicago Linux Users</a></li>
                <li><a href="http://linux.depaul.edu/">
                    Depaul Linux Community (Defunct?) </a></li>
                <li><a href="http://nwclug.harpercollege.edu/">
                    NorthWest Chicagoland Linux User Group</a></li>
                <li> <a href="http://ufo.chicago.il.us/">
                    Users of Free Operating systems</a></li>
                <li><a href="http://wclug.org/">
                    Windy City Linux Users Group </a></li>
            </ul>

        </div>
        <div class="col-6 col-sm-6 col-lg-4">
            <h2>Security Groups</h2>
            <ul>
                <li><a href="http://www.chicago2600.net/">
                    Chicago 2600 Group </a></li>
                <li><a href="http://pumpingstationone.org/">
                    Pumping Station One (Hackerspace )</a></li>
            </ul>
        </div>
        <div class="col-6 col-sm-6 col-lg-4">
            <h2>Programming Languages</h2>
            <ul>
                <li><a href="http://www.cjug.org/">Chicago Java</a></li>
                <li><a href="http://chipy.org/">Chicago Python</a></li>
                <li><a href="http://www.chirb.org/">Chicago Ruby</a></li>
            </ul>
        </div>
    </div>
}